<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Almost Shameless</title>

</head>
  <body>
    <% if (global.user){ %>
    <span class="navbar-brand"><%=  'Welcome, ' + user + '  '; %><a href="/sign-out"><%= 'Log out' %></a></span>

    <% } else {  %>
    <a class="navbar-brand" href="/sign-in"><%= 'Sign in with Instagram!' %></a>
    <% } %>
<!-- the following line, I believe, was added in error while the code above was deleted Jason H -->
            <!-- <a class="navbar-brand" href="/sign-out">Log out</a> -->


    <main class="container">
      <%- body %>
    </main>


<script type="text/javascript" src="//code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>


  </body>
</html>
