<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Almost Shameless</title>
    <head>
      <meta charset="utf-8">
      <title>Almost Shameless</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="generator" content="Webflow">
      <link rel="stylesheet" type="text/css" href="../public/css/normalize.css">
      <link rel="stylesheet" type="text/css" href="../public/css/webflow.css">
      <link rel="stylesheet" type="text/css" href="../public/css/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
      <script>
        WebFont.load({
          google: {
            families: ["Lato:100,100italic,300,300italic,400,400italic,700,700italic,900,900italic"]
          }
        });
      </script>
      <script type="text/javascript" src="https://use.typekit.net/tgy6upv.js"></script>
      <script type="text/javascript">
        try{Typekit.load();}catch(e){}
      </script>
      <script type="text/javascript" src="../public/js/modernizr.js"></script>
      <link rel="shortcut icon" type="image/x-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico">
      <link rel="apple-touch-icon" href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png">
      <style type="text/css">
        /* START GENERAL STYLES */
              @media screen and (min-width: 1200px) {
                .w-container {
                  max-width: 1170px; }
              }
              /* END GENERAL STYLES*/
      </style>
      <style>
        /* START NAV BG CHANGE SCROLL INSTANT */
          .navbginstantchange {
          transition-duration: 1s;}
          /* END NAV BG CHANGE SCROLL INSTANT */
      </style>
      <style>
        /* START NAV BG CHANGE SCROLL FIXED POINT */
        .scrollingnav {
            background-color: #2eade8;
            transition-duration: 1s;}
            /* END NAV BG CHANGE SCROLL FIXED POINT */
      </style>
      <style>
        /* START GRAYSCALE IMAGE ON HOVER */
            img.demo-image {
    filter: url("data:image/svg+xml;utf8,#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    }
    img.demo-image:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    }
        /* END GRAYSCALE IMAGE ON HOVER */
      </style>
      <style>
        /* START BLEND MODES */
    .mbm-normal{mix-blend-mode: normal;}
    .mbm-multiply{mix-blend-mode: multiply;}
    .mbm-screen{mix-blend-mode: screen;}
    .mbm-overlay{mix-blend-mode: overlay;}
    .mbm-darken{mix-blend-mode: darken;}
    .mbm-lighten{mix-blend-mode: lighten;}
    .mbm-color-dodge{mix-blend-mode: color-dodge}
    .mbm-color-burn{mix-blend-mode: color-burn;}
    .mbm-hard-light{mix-blend-mode: hard-light;}
    .mbm-soft-light{mix-blend-mode: soft-light;}
    .mbm-difference{mix-blend-mode: difference;}
    .mbm-exclusion{mix-blend-mode: exclusion;}
    .mbm-hue{mix-blend-mode: hue;}
    .mbm-saturation{mix-blend-mode: saturation;}
    .mbm-color{mix-blend-mode: color;}
    .mbm-luminosity{mix-blend-mode: luminosity;}
           /* START BLEND MODES */
      </style>
      <style>
        /* START CONSTANT ANIMATED SLIDER */
    @-webkit-keyframes collage {
    	0% {
    		-webkit-transform: translate3d(0,  0,  0);
    		-moz-transform: translate3d(0,  0,  0);
    		-ms-transform: translate3d(0,  0,  0);
    		-o-transform: translate3d(0,  0,  0);
    		transform: translate3d(0,  0,  0);
    	}
    	100% {
    		-webkit-transform: translate3d(-1800px,  0,  0);
    		-moz-transform: translate3d(-1800px,  0,  0);
    		-ms-transform: translate3d(-1800px,  0,  0);
    		-o-transform: translate3d(-1800px,  0,  0);
    		transform: translate3d(-1800px,  0,  0);
    	}
    }
    @-moz-keyframes collage {
    	0% {
    		-webkit-transform: translate3d(0,  0,  0);
    		-moz-transform: translate3d(0,  0,  0);
    		-ms-transform: translate3d(0,  0,  0);
    		-o-transform: translate3d(0,  0,  0);
    		transform: translate3d(0,  0,  0);
    	}
    	100% {
    		-webkit-transform: translate3d(-1800px,  0,  0);
    		-moz-transform: translate3d(-1800px,  0,  0);
    		-ms-transform: translate3d(-1800px,  0,  0);
    		-o-transform: translate3d(-1800px,  0,  0);
    		transform: translate3d(-1800px,  0,  0);
    	}
    	}@-ms-keyframes collage {
    	0% {
    		-webkit-transform: translate3d(0,  0,  0);
    		-moz-transform: translate3d(0,  0,  0);
    		-ms-transform: translate3d(0,  0,  0);
    		-o-transform: translate3d(0,  0,  0);
    		transform: translate3d(0,  0,  0);
    	}
    	100% {
    		-webkit-transform: translate3d(-1800px,  0,  0);
    		-moz-transform: translate3d(-1800px,  0,  0);
    		-ms-transform: translate3d(-1800px,  0,  0);
    		-o-transform: translate3d(-1800px,  0,  0);
    		transform: translate3d(-1800px,  0,  0);
    	}
    }
    @keyframes collage {
    	0% {
    		-webkit-transform: translate3d(0,  0,  0);
    		-moz-transform: translate3d(0,  0,  0);
    		-ms-transform: translate3d(0,  0,  0);
    		-o-transform: translate3d(0,  0,  0);
    		transform: translate3d(0,  0,  0);
    	}
    	100% {
    		-webkit-transform: translate3d(-1800px,  0,  0);
    		-moz-transform: translate3d(-1800px,  0,  0);
    		-ms-transform: translate3d(-1800px,  0,  0);
    		-o-transform: translate3d(-1800px,  0,  0);
    		transform: translate3d(-1800px,  0,  0);
    	}
    }
    #collage {
    	position: relative;
    	height: 500px;
    	width: 100%;
    	max-width: inherit;
    	overflow: hidden;
    }
    #collage .photos {
    	position: absolute;
    	height: 100%;
    	width: 5400px;
    	background: transparent url(https://daks2k3a4ib2z.cloudfront.net/550ec2a267a90bed34f3870e/5574866256f8c80c67a1577f_collage.jpg) repeat-x left top;
    	-webkit-transform: translate3d(0,  0,  0);
    	-moz-transform: translate3d(0,  0,  0);
    	-ms-transform: translate3d(0,  0,  0);
    	-o-transform: translate3d(0,  0,  0);
    	transform: translate3d(0,  0,  0);
    	-webkit-animation: collage 60s linear infinite;
    	-moz-animation: collage 60s linear infinite;
    	-ms-animation: collage 60s linear infinite;
    	animation:  collage 60s linear infinite;
    }
       /* END CONSTANT ANIMATED SLIDER */
      </style>
      <style>
        /* START INSTAGRAM FEED */
            .instagram div {
     display: inline-block;
     vertical-align: middle;
    text-align: center;    }
    .embedagram {
    text-align: center;
        /* END INSTAGRAM FEED */
      </style>
    </head>


  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">New Dare (button not connected)</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Log out</a>
        </div>
      </div>
    </nav>

    <main class="container">
      <%- body %>
    </main>

  </body>
</html>
