<!-- VIEW -->
<!DOCTYPE html>
<html>
  <head>
    <title>New Dare</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>New Dare</h1>
    <form action="/dares" method="post"><br>
      Description:
      <input type="text" name="description"><br>
      Hashtag:
      <input type="text" name="image_url"><br>
      Category:
      <input type="text" name="interests"><br>
      <input type="submit" value="Create Dare!">
    </form>
  </body>
</html>
