<!DOCTYPE html>
<html>
  <head>
    <title>User Dare</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p> this is the userdare.ejs view</p>
    <p> it needs to become the place where someone marks a dare complete</p>
  </body>
</html>
